.headerImg {
	margin-top: 5px;
	height: 40px;
}

.link {
	text-decoration: none;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


#bg {
  position: fixed; 
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}

#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

.box {
  max-height: 250px;
  padding: 0 !important;
}

.img-card {
  border-radius: 0px !important;
  box-shadow: none !important;
}

.m15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

@media screen and (min-width: 300px) {
  .logo-width {
    width: 90vw;
  }
  #image-v {
  	visibility: visible;
  }
  #image-h {
  	visibility: hidden;
  }
}

@media screen and (min-width: 600px) {
  .logo-width {
    width: 60vw;
  }
  #image-v {
  	visibility: hidden;
  }
  #image-h {
  	visibility: visible;
  }
}

@media screen and (min-width: 800px) {
  .logo-width {
    width: 40vw;
  }
  .about-img {
    visibility: hidden;
  }
}

@media screen and (min-width: 960px) {
  .about-img {
    visibility: visible;
  }
}